@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lobster&family=Splash&display=swap');

*{
    box-sizing: border-box;
    
}

.heading{
    padding: 10px;
    text-align: center;
    font-family: 'Lucida Sans';
    background-color: #165a6d;
    color: white;
    text-shadow: 5px rgba(0, 0, 0, 0.1);
    font-family: 'Lobster' , cursive ;
}
.outr_field{
    margin: 2% 10% 0 10%;
    animation: shadow_rise 0.7s cubic-bezier(0.45, 0, 0.24, 1.38) normal forwards;
    background-color: rgba(170, 170, 183, 0.689);
    border: 0px solid darkblue;
    box-shadow: 0 0 0px;
    transition: all 0.7s ease 0s ;
    padding: 4px;
    
}

.outr_field.a{
    animation-delay: 0s;
}
.outr_field.b{
    animation-delay: 0.3s;
}
.outr_field.c{
    animation-delay: 0.5s;
}

@keyframes shadow_rise {
    0%{
        margin: 50% 10% 0 10%;
        
    }

    50%{
        box-shadow: 0 0 0;
    }
    
    100%{
        margin: 2% 10% 0 10%;
        box-shadow: 0 5px 15px;
    }
    
}
.legnd{
    padding: 5px !important;
    color: rgb(26, 29, 39);
    font-weight: bolder;
    font-family: 'Comfortaa',cursive;
   
   }



.flex_div{
    display: flex;
    
    flex-direction: column;
}

.usr_input{
    margin: 5px;
    border: 1px solid rgb(101, 52, 22);
    border-radius: 2px;
    
}

.usr_input:hover::placeholder{
    color: black;
    background-color: lightblue;
}

.usr_input p{
    border:1px solid red
}

.submit_btn{
    color: rgb(255, 255, 255);
    margin:12px 0 0 10%;
    padding: 12px;
    background-color: rgb(55, 55, 160);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.submit_btn:hover{
    box-shadow: 0px 25px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.error-msg{
    background-color: red;
    display: none;
    color: #28fffb;
    font-size: 14px;
    margin-top: 10px;
    
}

.check_box_flex{
    display: flex;
    flex-direction: row;
}

.sign_up_link{
    margin:15px 0 0 10%;
}

.signin_link{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    font-size: larger;   
}