{% extends 'base1.html' %}
    {% block title %} About {% endblock %}
    {% block css %} {% load static %}<link rel="stylesheet" href='{% static "css/about_style.css" %}'> {% endblock %}
    {% block content %}

    <div class="questions">

      <h1>
        Some questions about us and their answers.
      </h1>

      <h2>
        What this site is for?
      </h2>
      <p>
        -> This site is a ecommerce website.Where people can buy or sell their products.
      </p>
      
      <h2>
        What we can do?
      </h2>
      <p>
        -> We can sell your products on our website with our big army of customers that visits our website regularly. 
      </p>
    </div>
{% endblock %}